<!--<header>-->
  <!--<nav>-->
    <!--<a [routerLink]="['']">Home</a>-->
    <!--<a [routerLink]="['about']">About</a>-->
  <!--</nav>-->
<!--</header>-->
<!--<main>-->
  <!--<h1 class="title">Hello from Webpack Angular 2 Starter!</h1>-->

  <!--&lt;!&ndash; Images (and assets) are parsed and loaded from within the public directory &ndash;&gt;-->
  <!--<img src="/img/angular.png">-->

  <!--<router-outlet></router-outlet>-->
<!--</main>-->
<!--<footer>-->
  <!--Webpack Angular 2 Starter-->
<!--</footer>-->

<div>Webpack Angular 2 Starter</div>

<div>
  <user-avatar></user-avatar>
</div>
